<div class="header bg-light d-flex justify-content-between align-items-center p-2">
  <div class="d-flex align-items-center">
    <button class="btn btn-outline-primary me-2" aria-label="Toggle Sidebar">
      <i class="bi bi-list"></i>
    </button>
    <!-- <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div> -->
  </div>
  <div class="d-flex align-items-center">
    <i class="bi bi-brightness-high me-3"></i>
    <i class="bi bi-globe-americas me-3"></i>
    <i class="bi bi-bell me-3 position-relative"><span class="badge bg-danger">5</span></i>
    <img src="../../../assets/images/image.png" class="rounded-circle" alt="Profile" style="height: 40px; width: 40px;">
  </div>
</div>
<div class="p-4">
  <app-language-content></app-language-content>
  <!-- <router-outlet></router-outlet> -->
</div>
